@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import 'tailwindcss';

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --font-roboto-slab: 'Roboto Slab', serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  transition: all 0.3s ease-in-out;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: oklch(0.709 0.01 56.259);
  border-radius: 9px;
  transition: all 0.3s ease-in-out;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: oklch(0.709 0.01 56.259);
  border-radius: 9px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: oklch(0.556 0 0);
}
